/* You can add global styles to this file, and also import other style files */
@import './styles/variables.less';
@import '../node_modules/font-awesome/less/font-awesome.less';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
body {
    margin: 0px;
    font-family: monospace;
    overflow: hidden;
}
.m-t-10 {
    margin-top: 10px;
}
.align-right {
  float: right;  
}
.p-l-0 {
  padding-left: 0px;
}
.modal-height {
  .modal-dialog {
    margin:0;
    .modal-content{
      height: 100vh;
    }
  }
}
::ng-deep .modal-layout { 
  .mobiles(.modal-height());
  
}